@import 'breakpoints';

@keyframes animation-rotate {
	100% {
		transform: rotate(360deg);
	}
}

.loader {
	$parent: &;

	display: inline-block;

	vertical-align: middle;
	transition: all 0.2s;
	opacity: 0;
	line-height: 1;

	height: 20px;
	width: 20px;

	span {
		height: inherit;
		width: inherit;
		display: block;
		border-radius: 50%;

		border: 4px solid rgba(255, 255, 255, 0.25);
		border-top-color: #fff;
		animation: animation-rotate 750ms linear infinite;
	}

	&--light {
		span {
			border-color: rgba(0, 0, 0, 0.25);
			border-top-color: #000;
		}
	}

	&.active {
		opacity: 1;
	}

	+ * {
		margin-left: 8px;
	}
}
